/* index.css - Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 16px; /* Podstawowa wielkość czcionki */
  line-height: 1.5; /* Przyjemna wysokość linii */
  font-family: Arial, sans-serif; /* Domyślna czcionka */
}

body {
  min-height: 100vh;
  background-color: black; 
  /* color: white; Kolor tekstu */ 
}

/* Usuwanie domyślnych stylów list */
ul, ol {
  /* list-style: none; */
}

/* Usuwanie podkreśleń w linkach */
a {
  /* text-decoration: none;
  color: inherit; */
}

/* Obrazki nie wychodzą poza rodzica */
img {
  max-width: 100%;
  height: auto;
}


